<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Log your information</h1>
    <h3>
      Tracker name : {{tracker["name"]}} <br />
      tracker_type : {{tracker["tracker_type"]}}
    </h3>
    <form action="/add_log/{{tracker['tracker_id']}}" method="POST">
      <label for="value"> value</label>
      {% if tracker['tracker_type'] == "Numerical" %}
      <input type="number" step="any" name="value" required />
      {% else %}
      <select name="value" required>
        {% for choice in tracker['options'].split(',') %}
        <option value="{{choice}}">{{choice}}</option>
        {% endfor %}
      </select>
      {% endif %}
      <label for="note">note</label>
      <input type="text" name="note" />
      <button type="submit">Submit</button>
    </form>
    <a href="/dashboard/{{tracker['user_id']}}">Go to dashboard</a>
  </body>
</html>
