<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
<!--   </head>
  <body>
    <h1>Log your information</h1>
    <h3>
      Tracker name : {{tracker["name"]}} <br />
      tracker_type : {{tracker["tracker_type"]}}
    </h3>
    <form action="/add_log/{{tracker['tracker_id']}}" method="POST">
      <label for="value"> value</label>
      {% if tracker['tracker_type'] == "Numerical" %}
      <input type="number" step="any" name="value" required />
      {% else %}
      <select name="value" required>
        {% for choice in tracker['options'].split(',') %}
        <option value="{{choice}}">{{choice}}</option>
        {% endfor %}
      </select>
      {% endif %}
      <label for="note">note</label>
      <input type="text" name="note" />
      <button type="submit">Submit</button>
    </form>
    <a href="/dashboard/{{tracker['user_id']}}">Go to dashboard</a>
  </body>
</html>

 -->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='style.css') }}">
  <title>Adding Log</title>
</head>

<body class="bg-rest">
  <a class="btn btn-dark btn-block mx-1" style="font-size:20px; position: absolute; right: 20px;" href="#">Logout <i class="bi bi-box-arrow-right"></i></a>
  <h1 class="mx-3 my-3" style="font-size: 60px;">Log your information</h1> <br>
  <h3 class="mx-3" style="font-size: 35px;">
    Tracker name : {{tracker["name"]}} </h3> <br>
    <h3 class="mx-3" style="font-size: 35px;">
    Tracker type : {{tracker["tracker_type"]}}
  </h3>
  <div class="container mx-2 my-5" style="font-size:25px">
  <form action="/add_log/{{tracker['tracker_id']}}" method="POST">
    <label for="value"> <h3>Enter the Value</h3></label>
    {% if tracker['tracker_type'] == "Numerical" %}
    <input type="number" step="any" name="value" required />
    {% else %}
    <select name="value" required>
      {% for choice in tracker['options'].split(',') %}
      <option value="{{choice}}">{{choice}}</option>
      {% endfor %}
    </select>
    {% endif %} <br> <br>
    <label for="note"><h3> Add a Note</h3></label>
    <input type="text" name="note" /> <br> 
    <button class="btn btn-primary btn-lg" style="position: relative; bottom: -40px;" type="submit">Submit</button>
  </form>
</div><br>
<a class="mx-2 my-5 text-light btn btn-dark" style="font-size: 20px;" href="/dashboard/{{tracker['user_id']}}"><b> Go to dashboard</b> </a>



  <!------------------------------------------------ JS FOR BOOTSTRAP ------------------------------------------------------------->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>



  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
</body>

</html>
