<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome {{ user["user_name"] }}</h1>
    <form action="/add/{{user['user_id']}}" method="POST">
      <label for="name">Tracker name</label>
      <input type="text" name="name" />
      <br />
      <label for="description">Description</label>
      <input type="text" name="description" id="" />
      <br />
      <label for="tracker_type">Tracker type</label>
      <select name="tracker_type" id="">
        <option value="Numerical">Numerical</option>
        <option value="MultipleChoice">MultipleChoice</option>
        <option value="Time Duration">Time Duration</option>
      </select>
      <br />
      <label for="options">Options</label>
      <input
        type="text"
        name="options"
        placeholder="Example : option1,option2,option3"
      />
      <br />
      <button type="submit">Submit</button>
    </form>
    <h3>List of available trackers</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        {% for tracker in trackers %}
        <tr>
          <td>{{tracker["name"]}}</td>
          <td>{{tracker["description"]}}</td>
          <td>
            <a href="/view/{{tracker['tracker_id']}}"> view</a>

            <a href="/log/{{tracker['tracker_id']}}">log</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
